<footer>
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    Manzana 8 Casa 15 barrio Villa Jaidith<br>
                    Valledupar - Cesar / Colombia<br>
                    Teléfonos: 311 7951534 – 301 5909205<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/magnus.8991"><img src="../../assets/facebook.png"></a>
                    <a href="https://twitter.com/DiegoMandon"><img src="../../assets/twitter.png"></a>
                    <a href="https://www.youtube.com/channel/UCGEvfaNldCvkE25oyzBJgaA"><img
                            src="../../assets/youtube.png"></a>
                    <a href="https://www.instagram.com/magnus_8991"><img src="../../assets/instagram.png"></a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-right">
                <p class="text-muted small">Diego Mandón, Desarrolador Web @2020.<br> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>