<nav class="navbar nav-tabs justify-content-center navbar-dark bg-dark">
    <ul class="nav nav-fill">
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/home"]'>
                <mat-icon>home</mat-icon> Inicio
            </a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/personaRegistro"]'>
                <mat-icon>person_add</mat-icon> Registro<span class="sr-only">(current)</span>
            </a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/personaConsulta"]'>
                <mat-icon>groups</mat-icon> Consulta<span class="sr-only">(current)</span>
            </a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/personaBusqueda"]'>
                <mat-icon>person_search</mat-icon> Búsqueda<span class="sr-only">(current)</span>
            </a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/personaActualizacion"]'>
                <mat-icon>transfer_within_a_station</mat-icon> Actualizar datos<span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]='["/personaEliminacion"]'>
                <mat-icon>person_remove</mat-icon> Eliminación<span class="sr-only">(current)</span>
            </a>
        </li>
    </ul>
</nav>