<div class="cuerpo">
  <div class="container contenido" id="cuerpo">

      <h1 id="TituloPulsaciones">
          <b>¿Qué son y cómo se calculan?</b>
      </h1>
  
      <div id="TextoPulsaciones">
  
          <p>
              El pulso es el número de latidos cardíacos por minuto. Una frecuencia cardíaca en reposo normal
              para los adultos oscila entre 60 y 100 latidos por minuto. Mediante la tradicional fórmula 220,
              una persona calcula su frecuencia cardiaca de actividad en dos pasos:
          </p>
  
          <br>
  
          <ol id="Incisos" name="Incisos">
              <p>
                  <li>
                      Primero resta su edad a la cifra 220 para obtener su frecuencia cardiaca máxima (FCM). Lo más
                      probable, no obstante, es que la mayoría de atletas descubra que para alcanzar su FCM necesita
                      rozar la extenuación y, además, la cifra obtenida no equivale a 220 menos su edad. Un tercio
                      de ellos verán que su frecuencia máxima es superior a esa cifra, para otro tercio será inferior
                      y solo otro tercio se acercará a lo calculado. Estas imprecisiones suelen ser significativas.
                  </li>
              </p>
              <p>
                  <li>
                      El segundo paso consiste en multiplicar esta llamada frecuencia cardiaca máxima por 65, 70, 75,
                      80 u 85 por ciento. El porcentaje que la mayoría de atletas elige es el más alto porque creen
                      que necesitan entrenar con mayor intensidad para obtener beneficios. Esto les lleva a entrenar
                      a una frecuencia cardiaca relativamente elevada. Asimismo, el rango comprendido entre el 65 y
                      el 85 por ciento es tan amplio, que incluye a la mayoría de los atletas que entrenan sin pensar
                      en la frecuencia cardiaca ni en la intensidad.
                  </li>
              </p>
          </ol>
      </div>
  </div>
</div>