<div class="cuerpo">
    <div class="container contenido">

        <p class="tituloContainer"> CONSULTA DE PERSONAS</p>

        <div class="row">
            <div class="col-md-6">
                <div class="form" id="consulta" style="padding-top: 5%;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Consultar por tipo:</label>
                            <select id="txtTipoConsulta" name="txtTipoConsulta" [(ngModel)]="tipoConsulta" class="form-control">
                                <option value=".">-- Seleccione una opción --</option>
                                <option value="Masculino">Hombres</option>
                                <option value="Femenino">Mujeres</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-secondary btn-block" (click)="Consultar()"><mat-icon>search</mat-icon> Consultar</button>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Total Hombres:</label>
                            <input type="text" readonly id="txtPulsaciones" name="txtPulsaciones" [(ngModel)]="totalHombres" class="form-control" placeholder="Cantidad de hombres">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Total Mujeres:</label>
                            <input type="text" readonly id="txtPulsaciones" name="txtPulsaciones" [(ngModel)]="totalMujeres" class="form-control" placeholder="Cantidad de mujeres">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Total Personas:</label>
                            <input type="text" readonly id="txtPulsaciones" name="txtPulsaciones" [(ngModel)]="totalPersonas" class="form-control" placeholder="Cantidad total de personas">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="logoConsulta" src="../../../assets/logoConsulta.png" alt="ConsultaPersonas">
            </div>
        </div>

        <table class="table table-hover table-dark" *ngIf='personas && personas.length'>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Pulsaciones</th>
                </tr>
            </thead>
            <tbody id="contenidoTabla">
                <tr *ngFor="let persona of personas; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ persona.identificacion }}</td>
                    <td>{{ persona.nombres }}</td>
                    <td>{{ persona.apellidos }}</td>
                    <td>{{ persona.edad  }}</td>
                    <td>{{ persona.sexo  }}</td>
                    <td>{{ persona.pulsaciones  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>